<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>

  <body class="flex-body">
    <%- include('./partials/nav') %>
    <main class="form-container">
      <form class="form-nuevo" action="/nuevo" method="post" id="form">
   
        <input class="permiso" type="text" name="permiso" id="permiso-1" required maxlength="16"/>
        <label for="permiso-1">PERMISO</label>
        <div class="add-input">
          <button type="button" class="btn-add-permiso" onclick="agregarCampoPermiso()">
           <p>+</p>
          </button>
          <button  hidden type="button" class="btn-remove-permiso" onclick="quitarUltimoCampoPermiso()">
            <p>-</p>
          </button>
        </div>
        <input type="text" name="localidad" id="localidad" required />
        <label for="localidad">LOCALIDAD</label>
        
        <input type="text" name="direccion" id="direccion" required />
        <label for="direccion">DIRECCION</label>
       
        <input type="datetime-local" name="proximoAviso" id="proximoAviso" required/>
        <label for="proximoAviso">PROXIMO AVISO</label>
        <button type="submit" class="btn-submit">
          <span class="btn-submit__text">AGREGAR</span>
          <span class="btn-submit__icon"><img src="/img/plus.svg" alt=""/></span>
        </button>
      </form>
      <div id="spinner">
        <div class="square-10"></div>
      </div>
    </main>
    <script src="/js/validations.js"></script>
  </body>
</html>
