<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avisos</title>
    <STyle>
      .form-nuevo{ display: flex; flex-direction: column;width:100vw;align-items: center;padding-top: 100px;}
      .form-nuevo input{margin-bottom: 10px;width:300px}
    </STyle>
  </head>
  <body >
    <form class="form-nuevo" action="/nuevo" method="post">
    <label for="permiso">PERMISO</label>
    <input type="text" name="permiso" id="permiso" />
    <label for="aduana">ADUANA</label>
    <input type="number" name="aduana" id="aduana" />
    <label for="localidad">LOCALIDAD</label>
    <input type="text" name="localidad" id="localidad" />
    <label for="direccion">DIRECCION</label>
    <input type="text" name="direccion" id="direccion" />
    <label for="proximoAviso">PROXIMO AVISO</label>
    <input type="datetime-local" name="proximoAviso" id="oroximoAviso" />
    <button type="submit">Agregar</button>
  </form>
  </body>
</html>
